{{> menu}}

<form class="box"  action="/result/{{trail._id}}/updateresult/{{result._id}}" method="POST">
  <label>Update Result Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="distance", value="{{result.distance}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="duration" value="{{result.duration}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="date" value="{{result.date}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Result</button>
</form>
